thanapon_trainer@eila-monitor:/opt/jumpserver$ cat .env
# Version
VERSION=v4.10.14-ce

# Secret keys cat /dev/urandom | tr -dc 'a-zA-Z0-9' | head -c 50
SECRET_KEY=xxxxxxxxxxxxxxxxxxxxxxx
BOOTSTRAP_TOKEN=xxxxxxxxxxxxxxxxxxx
# Database
DB_ENGINE=mysql
DB_HOST=db
DB_PORT=3306
DB_USER=jumpserver
DB_PASSWORD=StrongDBPassword123!
DB_NAME=jumpserver

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=StrongRedisPassword123!

# Ports
HTTP_PORT=8081
SSH_PORT=2222